In [22]:
# display full output in Jupyter Notebooks
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# for data
import pandas as pd
import numpy as np

# for statistical test
from scipy.stats import ttest_ind
from scipy.stats import t

In [13]:
# read datasets
group1 = pd.read_csv('Group 1.csv')
group2 = pd.read_csv('Group 2.csv')
group3 = pd.read_csv('Group 3.csv')
group4 = pd.read_csv('Group 4.csv')
group5 = pd.read_csv('Group 5.csv')
group6 = pd.read_csv('Group 6.csv')

### Sensitivity Distribution

In [14]:
# statistical description 
group1.describe()

       Sensitivity
count    25.000000
mean      0.280000
std       0.342648
min       0.000000
25%       0.000000
50%       0.333333
75%       0.333333
max       1.000000

In [15]:
group2.describe()

       Sensitivity
count     24.000000
mean       0.366667
std        0.204124
min        0.000000
25%        0.200000
50%        0.400000
75%        0.500000
max        0.750000

In [16]:
group3.describe()

       Sensitivity
count    26.000000
mean      0.461538
std       0.231218
min       0.000000
25%       0.250000
50%       0.500000
75%       0.500000
max       1.000000

In [17]:
group4.describe()

       Sensitivity
count    21.000000
mean      0.285714
std       0.298807
min       0.000000
25%       0.000000
50%       0.500000
75%       0.500000
max       1.000000

In [18]:
group5.describe()

       Sensitivity
count    33.000000
mean      0.454545
std       0.192177
min       0.000000
25%       0.250000
50%       0.500000
75%       0.500000
max       0.750000

In [19]:
group6.describe()

       Sensitivity
count    18.000000
mean      0.347222
std       0.212459
min       0.000000
25%       0.250000
50%       0.375000
75%       0.500000
max       0.750000

### t-test

**p-value** = risk of rejecting null hypothesis 

**null hypothesis** = there is no difference between the groups

In [32]:
# group 1 & 2
t, p = ttest_ind(group1, group2, equal_var=False)
print(f't={t}, p={p}')

t=[-1.08060089], p=[0.28644414]

**group 1 & 2** - p-value > 0.05, accept null hypothesis

In [33]:
# group 3 & 4
t, p = ttest_ind(group3, group4, equal_var=False)
print(f't={t}, p={p}')

t=[2.21378642], p=[0.03307315]

**group 3 & 4** - p-value < 0.05, reject null hypothesis

In [34]:
# group 5 & 6
t, p = ttest_ind(group5, group6, equal_var=False)
print(f't={t}, p={p}')

t=[1.78208422], p=[0.08418124]

**group 5 & 6** - p-value > 0.05, accept null hypothesis